<div class="container">
  <div *ngIf="cartList.length; else emptyCart">
    <app-cart-total [total]="cartTotal"></app-cart-total>
    <button class="btn btn-sm btn-primary"
      (click)="onClearCart()">Clear</button>

    <div class="cart-list" *ngFor="let cartItem of cartList">
      <app-cart-item [cartItem]="cartItem"
         (deleteProduct)="onDeleteProductFromCart($event)"
         (qtyDecrease)="onCartProductQtyDecrease($event)"
         (qtyIncrease)="onCartProductQtyIncrease($event)"></app-cart-item>
    </div>
  </div>

  <ng-template #emptyCart>
    Your cart is empty!
  </ng-template>
</div>
