<form class="form-horizontal" novalidate
      (ngSubmit)="completeOrder()"
      [formGroup]="orderForm">
  <fieldset>

    <div class="form-group row">
      <label class="col-md-3 control-label" for="firstNameId">
        First Name <i>*</i>
      </label>

      <div class="col-md-7">
        <input class="form-control"
               id="firstNameId"
               type="text"
               placeholder="First Name"
               formControlName="firstName"
               (blur)="onBlur('firstName')" />

        <div class="error" *ngIf="validationMessages.firstName">
          {{validationMessages.firstName}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 control-label" for="lastNameId">
        Last Name <i>*</i>
      </label>

      <div class="col-md-7">
        <input class="form-control"
               id="lastNameId"
               type="text"
               placeholder="Last Name"
               formControlName="lastName"
               (blur)="onBlur('lastName')" />

        <div class="error" *ngIf="validationMessages.lastName">
          {{validationMessages.lastName}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 control-label" for="emailId">
        Email <i>*</i>
      </label>

      <div class="col-md-7">
        <input class="form-control"
               id="emailId"
               type="email"
               placeholder="Email"
               formControlName="email"
               (blur)="onBlur('email')" />

        <div class="error" *ngIf="validationMessages.email">
          {{validationMessages.email}}
        </div>
      </div>
    </div>

    <div formArrayName="phoneList">
      <div *ngFor="let phone of phoneList.controls; let i = index"
           [formGroupName]="i">

        <div class="form-group row">
          <div class="col-md-3">
            <label class="control-label"
                   attr.for="{{'phoneId' + i}}"
                   *ngIf="i == 0">
              Phone <i>*</i>
            </label>
          </div>

          <div class="col-md-7">
            <input class="form-control"
                   id="{{'phoneId' + i}}"
                   type="tel"
                   placeholder='Phone'
                   formControlName="phone"
                   (blur)="onBlur('phoneList.' + i + '.phone', true)" />

            <div class="error" *ngIf="validationMessages.phone[i]">
              {{validationMessages.phone[i]}}
            </div>
          </div>

          <div class="col-md-2" *ngIf="phoneList.controls.length > 1">
            <button class="btn btn-sm btn-primary"
                    type="button"
                    (click)="onDeletePhone(i)">
              x
            </button>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group row">
      <div class="offset-md-3 col-md-7">
        <span>
            <button class="btn btn-sm btn-primary"
                    type="button"
                    (click)="onAddPhone()">
                + phone
            </button>
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 control-label">Delivery type</label>
      <div class="col-md-7">
        <label class="radio-online">
          <input type="radio"
                 value="delivery"
                 formControlName="deliveryType" /> Standard delivery
        </label><br/>
        <label class="radio-online">
          <input type="radio"
                 value="self"
                 formControlName="deliveryType" /> Pick up in the store
        </label>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 control-label">Payment type</label>
      <div class="col-md-7">
        <label class="radio-online">
          <input type="radio"
                 value="card"
                 formControlName="paymentType" /> Credit card
        </label><br/>
        <label class="radio-online">
          <input type="radio"
                 value="cash"
                 formControlName="paymentType" /> Cash
        </label>
      </div>
    </div>

    <div *ngIf="orderForm.get('deliveryType').value == 'delivery'">
      <div formGroupName="address">

        <div class="form-group row">
          <label class="col-md-3 control-label" for="cityId">
            City <i>*</i>
          </label>

          <div class="col-md-7">
            <select class="form-control"
                    formControlName="city"
                    id="cityId"
                    (blur)="onBlur('address.city')" >
              <option value="">Select a City:</option>
              <option *ngFor="let city of cityList"
                      value="{{city}}">{{city}}
              </option>
            </select>

            <div class="error" *ngIf="validationMessages.city">
              {{validationMessages.city}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 control-label" for="streetLine1Id">
            Address line 1 <i>*</i>
          </label>

          <div class="col-md-7">
            <input type="text"
                   class="form-control"
                   id="streetLine1Id"
                   placeholder="Address"
                   formControlName="streetLine1"
                   (blur)="onBlur('address.streetLine1')" />

            <div class="error" *ngIf="validationMessages.streetLine1">
              {{validationMessages.streetLine1}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 control-label" for="streetLine2Id">
            Address line 2
          </label>
          <div class="col-md-7">
            <input type="text"
                   class="form-control"
                   id="streetLine2Id"
                   placeholder="Address (second line)"
                   formControlName="streetLine2" />
          </div>
        </div>

      </div>
    </div>

    <div class="form-group row">
      <div class="offset-md-3 col-md-7">
        <span>
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="!orderForm.valid">
                Complete order
            </button>
        </span>
      </div>
    </div>

  </fieldset>
</form>

<br>Dirty: {{ orderForm.dirty }}
<br>Touched: {{ orderForm.touched }}
<br>Valid: {{ orderForm.valid }}
<br>Form Status: {{orderForm.status }}
<br>Value: {{ orderForm.value | json }}
