<div class="container">
  <h1 #appTitle></h1>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/products"  routerLinkActive="active">
        Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cart"  routerLinkActive="active">
        Cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/orders" routerLinkActive="active">
        Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">
        Contact Us</a>
    </li>
  </ul>

  <router-outlet></router-outlet>

  <!--<app-product-list></app-product-list>
  <hr/>

  <app-cart-list></app-cart-list>
  <hr/>

  <app-contact-us></app-contact-us>-->
</div>
