<div *ngIf="cartList.length; else emptyCart">
  <app-cart-total [total]="cartTotal"></app-cart-total>

  <button class="btn btn-sm btn-primary"
    (click)="onClearCart()">Clear cart</button>&nbsp;
  <button class="btn btn-sm btn-primary"
    (click)="onCompleteOrder()">Buy / Complete order</button>

  <div class="sort-wrap">
    <label>
      Sort by:
      <select class="form-control" name="sortBy" [(ngModel)]="sortBy">
        <option *ngFor="let option of sortByOptions" [value]="option.value">
          {{option.title}}
        </option>
      </select>
    </label>

    <label>
      <input type="checkbox" name="sortOrder" [(ngModel)]="sortOrder" />
      Sort desc (otherwise asc by default)
    </label>
  </div>

  <div class="cart-list"
    *ngFor="let cartItem of cartList | orderBy : sortBy : sortOrder">
    <app-cart-item [cartItem]="cartItem"
       (deleteProduct)="onDeleteProductFromCart($event)"
       (qtyDecrease)="onCartProductQtyDecrease($event)"
       (qtyIncrease)="onCartProductQtyIncrease($event)"></app-cart-item>
  </div>
</div>

<ng-template #emptyCart>
  Your cart is empty!
</ng-template>
